// FOOTER ****
footer {
	margin-top: 100px;
	background-color: $mainBlue;
	color: white;
	font-family: $bodyFont;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 500;
	display: flex;
	.wrapper {
		display: flex;
		justify-content: space-between;
		a#toTop {
			cursor: pointer;
			margin: 14px 10px 0 10px;
			width: 15%;
			text-align: right;
			&:hover {
				text-shadow: 2px 2px 0 $secondaryBlue;
			}
		}
		.footerColumn {
			width: 85%;
			.makerContainer {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			}
			span {
				a {
					font-size: 26px;
					color: white;
					margin-left: 10px;
					&:hover {
						text-shadow: 2px 2px 0 $secondaryBlue;
					}
				}
			}
			.attribution {
				border-top: 1px solid white;
				font-size: 12px;
				padding-top: 15px;
				margin-top: 0;
			}
		}
	}
}

//MEDIA QUERIES ****
@media (max-width: 530px) {
	.footerColumn {
		.makerContainer {
			display: block;
			span {
				display: block;
			}
		}
	}
}