// HEADER ****
header {
	height: 100vh;
	background: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)), url("/public/assets/toronto.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	img {
		display: inline-block;
		align-self: left;
		width: 10%;
		min-width: 80px;

	}
	h1 {
		font-family: $bodyFont;
		font-weight: 700;
		font-size: 50px;
		background: white;
		padding: 10px;
		border: 10px solid $mainBlue;
		margin: 0 0 50px 0;
		box-shadow: 5px 5px 0 $secondaryBlue;
		text-align: center;
	}
	.navContainer {
		display: flex;
		flex-direction: row;
		width: 50%;
		justify-content: space-around;
		margin: 0 0 50px 0;
		.nav {
			padding: 15px 20px;
			margin: 10px;
			font-family: $bodyFont;
			text-transform: uppercase;
			border: 5px solid $mainRed;
			background: white;
			transition: all 0.3s ease;
			&:hover {
				border: 5px solid $mainRed;
				background: $mainRed;
			}
			&:hover a {
				color: white;
			}
			a {
				text-decoration: none;
				color: $mainRed;
				font-weight: 700;
				letter-spacing: 1px;
				padding: 15px 10px;
				cursor: cell;
			}
		}
	}
}

// MEDIA QUERIES ****

@media (max-width: 768px) {
	header {
		.navContainer {
			.nav {
				width: 80%;
				margin: 0 auto;
			}
		}
		h1 {
			font-size: 40px;
		}
	}
}


@media (max-width: 480px) {
		header {
		.navContainer {
			width: 80%;
		}
			h1 {
				margin: 0 auto;
				width: 75%;
				line-height: 42px;
			}
			img {
				align-self: center;
		}
	}
}