
@mixin headingStyle ($font-size) {
	font-family: $bodyFont;
	font-size: $font-size;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	position: relative;
	&:after {
		content:"";
		display: block;
		height: 5px;
		width: 50px;
		background: $mainBlue;
		position: absolute;
		bottom: -10%;
	}
}


@mixin formType ($font-size) {
	font-family: $bodyFont;
	text-transform: uppercase;
	font-size: $font-size;
	color: #708090;
}