@import 'setup';
@import 'variables';
@import 'mixins';
@import 'form';
@import 'header';
@import 'meetings';
@import 'footer';

.wrapper {
	width: 90%;
	margin: 0 auto;
}

// MAIN ****
 main {
 	h2 {
 		@include headingStyle (26px);
 		margin-top: 100px;
 	}
 	.mapContainer {
 		.map {
			max-width: 90%;
			display: block;
			margin: 0 auto;
 		}
 	}
 }

.councillorButton {
	font-family: $bodyFont;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 5px;
	border: none;
	border: 3px solid $secondaryBlue;
	background: white;
	&:hover {
		box-shadow: 3px 3px 0 $mainBlue;
	}
	&:hover span {
		color: $mainRed;
	}
}

// COUNCILLOR PAGE ****
.councillorSection {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	width: 90%;
	margin: 50px auto 0 auto;
}
.councillorDetails {
	padding: 10px;
	width: 50%;
	.councillorContact {
		h3 {
			@include headingStyle (18px);
		}
		p {
			font-family: $bodyFont;
			text-transform: uppercase;
			font-size: 14px;
			i {
				margin-right: 10px;
			}
		}
	}
}



// MEDIA QUERIES ****


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.councillorSection {
		flex-direction: column;
	}
	.councillorDetails {
		display: flex;
		width: 90%;
		margin-bottom: 50px;
	.councillorContact {
		margin-left: 15px;
	}
}
}

/* Landscape phones and down */
@media (max-width: 480px) {
}