@import 'setup';
@import 'variables';
@import 'mixins';
@import 'form';
@import 'header';
@import 'meetings';
@import 'footer';

.wrapper {
	width: 90%;
	margin: 0 auto;
}

// MAIN ****
 main {
	p {
		font-family: $bodyFont;
 		font-size: 16px;
 		width: 80%;
		margin-bottom: 0;
	}
	.firstLine {
		font-size: 22px;
		color: $mainBlue;
		margin-top: 40px;

	}
 	h2 {
 		@include headingStyle (26px);
 		margin-top: 100px;
 	}
 	.mapSubtitle {
 		font-family: $bodyFont;
 		font-size: 16px;
 		margin-bottom: 10px;
 		a {
 			text-decoration: none;
 			color: black;
 			border-bottom: 3px solid $secondaryBlue;
 			cursor: pointer;
 			transition: all 0.3s ease;
 			&:hover {
 				padding-bottom: 3px;
 			}
 		}
 	}
 	.mapContainer {
 		.map {
			max-width: 90%;
			display: block;
			margin: 0 auto;
 		}
 	}
 }

.councillorButton {
	font-family: $bodyFont;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 5px;
	border: none;
	border: 3px solid $secondaryBlue;
	background: white;
	&:hover {
		box-shadow: 3px 3px 0 $mainBlue;
	}
	&:hover span {
		color: $mainRed;
	}
}

// COUNCILLOR PAGE ****
.councillorSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
	width: 90%;
	margin: 50px auto 0 auto;
}
.councillorDetails {
	padding: 10px;
	width: 50%;
	img {
		height: auto;
	}
	.councillorContact {
		h3 {
			@include headingStyle (18px);
		}
		p {
			font-family: $bodyFont;
			text-transform: uppercase;
			font-size: 14px;
			i {
				margin-right: 10px;
			}
		}
	}
}



// MEDIA QUERIES ****
@media (max-width: 768px) {
	.councillorSection {
		flex-direction: column;
	}
	.councillorDetails {
		width: 90%;
		margin-bottom: 50px;
	.councillorContact {
		width: 100%;
		margin-left: 15px;
		margin-left: 0;
		position: relative;
		h3 {
		position: absolute;
		top: -250%;
		left: 45%;
		}
	}
}
}

@media (max-width: 480px) {
	 main {
	 	h2 {
	 		@include headingStyle (26px);
	 		margin-top: 80px;
	 	}
	 	.mapSubtitle {
	 		font-size: 18px;
	 		margin-bottom: 22px;
	 	}
	 	.mapContainer {
	 		.map {
				max-width: 100%;
	 		}
	 	}
	 }
	 .councillorDetails {
	 	.councillorContact {
	 		h3 {
	 		position: absolute;
	 		top: -250%;
	 		left: 60%;
	 		}
	 	}
	 }
}